<p class="card-resources">
  {% if card.materials > 0 %}
  <span class="icon-materials">{{ card.materials }}</span>
  {% endif %}
  {% if card.research > 0 %}
  <span class="icon-research">{{ card.research }}</span>
  {% endif %}
  {% if card.energy > 0 %}
  <span class="icon-energy">{{ card.energy }}</span>
  {% endif %}
</p>
{% if card.type_code == 'ship' %}
<p class="card-move">
  <span class="icon-engines">{{ card.engines }}</span>
  <span class="icon-fuel-cost">{{ card.fuel_cost }}</span>
</p>
{% endif %}
<p class="card-modules">
  {% if card.module_one is not empty %}
  <div class="ship-module">{{ card.module_one }}{% if card.modval_one > 0 %} {{ card.modval_one }}{% endif %}</div>
  {% endif %}
  {% if card.module_two is not empty %}
  <div class="ship-module">{{ card.module_two }}{% if card.modval_two > 0 %} {{ card.modval_two }}{% endif %}</div>
  {% endif %}
  {% if card.module_three is not empty %}
  <div class="ship-module">{{ card.module_three }}{% if card.modval_three > 0 %} {{ card.modval_three }}{% endif %}</div>
  {% endif %}
</p>