{% extends 'AppBundle:Search:display.html.twig' %}

{% block main %}

<table class="rwd-table table table-striped table-condensed">
<thead>
<tr>
  <th>Name</th>
  <th>Faction</th>
  <th class="center"><span class="icon-materials"></span></th>
  <th class="center"><span class="icon-research"></span></th>
  <th class="center"><span class="icon-energy"></span></th>
  <th>Type</th>
  <th>Tech. Level</th>
  <th>Set</th>
</tr>
</thead>
<tbody>
  {% for i in 0..cards|length-1 %}
  <tr class="{% if i%2 == 0 %}even{% else %}odd{% endif %}">
    {% set card = cards[i] %}
    <td data-th="Name">
      <span class="icon icon-{{ card.type_code }}"></span>
      <span class="icon icon-{{ card.faction_code }}"></span>
      <a href="{{ card.url }}" class="card-tip" data-code="{{ card.code }}">{{ card.name }}</a>
    </td>
    <td data-th="Faction">{{ card.faction_name }}</td>
    <td data-th="M" class="center">{{ card.materials }}</td>
    <td data-th="R" class="center">{{ card.research }}</td>
    <td data-th="E" class="center">{{ card.energy }}</td>
    <td data-th="Type" >{{ card.type_name }}</td>
    <td data-th="Tech. Level">{% for l in 0..card.tech_level %}{% if l > 0 %}<span class="bullet">&bull;</span>{% endif %}{% endfor %}</td>
    <td data-th="Set">{{ card.pack_name }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>

{% endblock %}
