{% extends 'AppBundle::layout.html.twig' %}
{% import "AppBundle::macros.html.twig" as macros %}

{% block body %}

<div class="main container">
<h2>Gala Collider Deck Builder</h2>

<p>Welcome to Gala Collider’s online deck builder. Here you can view the cards, build your decks, and even publish them for others to see. You can then import it into the game for use.</p>
<h4>What Is Gala Collider?</h4>
<p>Gala Collider is a constantly evolving card game set four billion years in the future when the Milky Way is amid a multi million year collision with its neighboring galaxy, Andromeda. Head over to our website and <a href="//galacollider.com/">sign up for the alpha</a> now!</p>
<h4>How Do I Use Deck Builder?</h4>
<p>To get started, <a href="//db.galacollider.com/register/">make yourself an account</a> and click My Decks to start making your first decklist. Click on the rules tab while creating a deck to learn more how decks are constructed. Once you are done, you can use the Publish button to share it with others or the Download button to import it to the game. You can then use the in-game Load button to pull your deck file directly into the game when joining or starting a new match.
</p>
<h1 class="site-title"><img src="/cards-front.png" style="max-width:100%"></h1>

<div class="site-slogan">Gala Collider Deckbuilder</div>
</div> <!-- .container -->

<div class="main container">
    <div class="row">
    {% for data in decklists_by_faction %}
    <div class="col-md-6" style="margin-bottom:30px">
        <div class="bg-faction bg-{{ data.faction.code }}" style="padding:10px 10px 5px 10px">
            <div class="media">
              <div class="media-left" style="font-size:30px">
                  <span class="icon icon-{{ data.faction.code }}"></span>
              </div>
              <div class="media-body">
                  <h4 class="media-heading"><a href="{{ path('decklist_detail',{decklist_id:data.decklist.id,decklist_name:data.decklist.nameCanonical}) }}">{{ data.decklist.name }}</a></h4>
                  <div class="small">by {{ macros.username_with_reputation(data.decklist.user) }} &middot; <time datetime="{{ data.decklist.dateCreation|date('c') }}">{{ data.decklist.dateCreation|date('M d, Y') }}</time></div>
              </div>
            </div>
        </div>
        <div style="background-color: white; padding: 10px 20px 20px 20px">
            <div class="small pull-right">
                {{ macros.decklist_social_buttons(data.decklist ) }}
            </div>
            <div>{{ data.factions }}</div>
            <p>{{ data.count_by_type|raw }}</p>
            <div class="text-center small"><a href="{{ path('decklists_list',{type:'find',faction:data.faction.code}) }}">More in this faction</a></div>
            <div style="clear:both"></div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script type="application/ld+json">
{
   "@context": "http://schema.org",
   "@type": "WebSite",
   "url": "http://db.galacollider.com/",
   "potentialAction": {
     "@type": "SearchAction",
     "target": "http://db.galacollider.com/find/?q={search_term_string}",
     "query-input": "required name=search_term_string"
   }
}
</script>
{% endblock %}
